* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Dosis', sans-serif;
    font-size: 1.3rem;
}

#parentDiv {
    position: relative;
    height: 1000px;
}

#canvas1 {
    position: absolute;
    top: 0;
    left: 0;
}

.social a {
    margin: 0 30px 0 20px;
}

@media only screen and (max-width: 600px) {
    .nav-wrapper a {
        width: max-content;
    }
}

@media only screen and (min-width: 600px) {
    .nav-wrapper a {
        width: max-content;
    }
}